<!doctype html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    {% if students %}
    <h2>Students</h2>
    <ul>
        {% for first, last, github in students %}
        <li><a href="/student?github={{ github }}">{{ first }} {{ last }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if projects %}
    <h2>Projects</h2>
    <ul>
        {% for title in projects %}
        <li><a href="/project?title={{ title }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
